/* reset default styles */

header {
  font-family: "Oswald";

  display: flex;

  /* background-color: red; */
  height: 100px;
  justify-content: center;
}

/* .pageHeader{
  height: 100px;
} */


ul {
  list-style: none;
  padding-left: 0;
}

/* cards container */
.charContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* character card container */
.charCard {
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  /* margin: 5px; */
  width: auto;
  text-align: center;
  font-size: 120%;
}

/* character card header */
.charHeadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.charHeadContainer div {
  width: 100%;
}

.charHeadContainer h2 {
  margin-bottom: 0;
}

.charName {
  /* background-color: blue; */
  margin-left: 20%;
}
.favIcon {
  /* background-color: red;  */
  margin-right: 10%;
  display: flex;
}

/* character additional details - films */
.charAddlDetail {
  margin-top: 0;
  margin-bottom: 0;
}

.charFilmsList {
  margin-top: 0;
}

.charFilm {
  margin-left: 0.5rem;
}

.charDetailsList {
  font-family: "Cabin";
}

.charDetailsList li {
  margin: 5px;
}

.primaryButton {
}

.secondaryButton {
}
